<%- include('../partials/header') %>
<div class="flex">
    <form class="holes" action="/locations/<%= location._id %>?_method=PUT" method="POST">
        <label for="name">Edit Name: &nbsp; &nbsp; &nbsp; &nbsp;
            <input type="string" name="name" value="<%= location.name %>">
        </label>
        <br>
        <label for="lat">Edit Latitude: &nbsp;
            <input type="number" name="lat" value="<%= location.lat %>">
        </label>
        <br>
        <label for="long">Edit Longitude:
            <input type="number" name="long" value="<%= location.long %>">
        </label>
        <br>
        <br>
        <button class="submit-button" type="submit">Accept Changes</button>

    </form>
</div>
<%- include('../partials/footer') %>