<%- include('../partials/header') %>
<div id="map"></div>
<script>
    function initMap() {
        var locationForMap = '<%- JSON.stringify(locationForMap) %>'
        var parsedLocation = JSON.parse(locationForMap)
        var starterLocation = { lat: parseFloat(parsedLocation.lat.$numberDecimal), lng: parseFloat(parsedLocation.long.$numberDecimal) };
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 16,
            center: starterLocation,
        });
        makeMarker(parsedLocation)
        function makeMarker(location) {
            var myLat = parseFloat(location.lat.$numberDecimal)
            var myLong = parseFloat(location.long.$numberDecimal)
            var marker = new google.maps.Marker({
                map: map,
                position: { lat: myLat, lng: myLong }
            });
            const infowindow = new google.maps.InfoWindow({
                content: `
                        <h3><strong>${location.name}</strong></h3>
                        <br>
                        <a href='/locations/${location._id}'>Show Page</a>
                    `
            });
            marker.addListener("click", () => {
                infowindow.open(marker.get("map"), marker);
            });
        }
    }
</script>
<script defer src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLE_API_KEY%>&callback=initMap">
</script>
<br>
<div class="holes">
    <% locations.forEach(location => { %>
    <table>
        <tr>
            <td><%= location.name %> |</td>
            <td>Lat: <%= location.lat %> |</td>
            <td>Long: <%= location.long %> |</td>
            <td><a href="/locations/<%= location._id %>/on-map">See On Map</a> |</td>
        </tr>
    </table>
    <% }) %>
</div>
<%- include('../partials/footer') %>