<%- include('../partials/header') %>
<div id="map"></div>
<script>
    function initMap() {
        var locationForMap = '<%- JSON.stringify(locationForMap) %>'
        var parsedLocation = JSON.parse(locationForMap)
        var starterLocation = { lat: parseFloat(parsedLocation.lat.$numberDecimal), lng: parseFloat(parsedLocation.long.$numberDecimal) };
        var map = new google.maps.Map(document.getElementById("map"), {
            zoom: 16,
            center: starterLocation,
            mapId: 'dddc211cd1eb30bc'
        });
        makeMarker(parsedLocation)
        function makeMarker(location) {
            var myLat = parseFloat(location.lat.$numberDecimal)
            var myLong = parseFloat(location.long.$numberDecimal)
            var marker = new google.maps.Marker({
                map: map,
                position: { lat: myLat, lng: myLong }
            });
            const infowindow = new google.maps.InfoWindow({
                content: `
                        <h3><strong>${location.name}</strong></h3>
                        <br>
                        <a href='/locations/${location._id}'>Reviews</a>
                    `
            });
            marker.addListener("click", () => {
                infowindow.open(marker.get("map"), marker);
            });
        }
    }
</script>
<script defer
    src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLE_API_KEY%>&v=weekly&callback=initMap&map_ids=dddc211cd1eb30bc">
    </script>
<br>

<table class="bigholes">
    <tr><span id="light">Swimming Hole Locations:</span></tr>
    <tr>
        <td>Name: </td>
        <td>Latitude:</td>
        <td>Longitude:</td>
        <td> </td>
    </tr>
    <% locations.forEach(location => { %>
    <tr>
        <td><a href="/locations/<%= location._id %>"> <%= location.name %> </a> |</td>
        <td> <%= location.lat %> |</td>
        <td> <%= location.long %> |</td>
        <td><a href="/locations/<%= location._id %>/on-map">See On Map</a> </td>

        <% }) %>
    </tr>
</table>

<%- include('../partials/footer') %>